<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649738262397-i9j1s1n16t6hi09599ul9vk23ik23d5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649738262397-i9j1s1n16t6hi09599ul9vk23ik23d5k</string>
	<key>API_KEY</key>
	<string>AIzaSyAvwMcDZm-Q8le1Q0NpZXACFiJG6cfrbGw</string>
	<key>GCM_SENDER_ID</key>
	<string>649738262397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.symbio</string>
	<key>PROJECT_ID</key>
	<string>symbio-prod-6fb52</string>
	<key>STORAGE_BUCKET</key>
	<string>symbio-prod-6fb52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649738262397:ios:40e59c2106636a4a2d5e14</string>
	<key>DATABASE_URL</key>
	<string>https://symbio-prod-6fb52.firebaseio.com</string>
</dict>
</plist>