<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265278480244-cugduon6031scubqjd7jsfh3b5r9bhoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265278480244-cugduon6031scubqjd7jsfh3b5r9bhoe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265278480244-2f6t58hj7nhhos7u6a33bjer7mapm9ce.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBc-IzdgXo2KpMEOitcZOOMSCtm_9odbmU</string>
	<key>GCM_SENDER_ID</key>
	<string>265278480244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.symbio</string>
	<key>PROJECT_ID</key>
	<string>symbio-dev-f9798</string>
	<key>STORAGE_BUCKET</key>
	<string>symbio-dev-f9798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265278480244:ios:e020774c29b451f57e1621</string>
	<key>DATABASE_URL</key>
	<string>https://symbio-dev-f9798.firebaseio.com</string>
</dict>
</plist>